<a href="https://colab.research.google.com/github/girishkarhana/movies.csv-analysis-with-pandas/blob/main/movies_analysis_with_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('/content/movies.csv')
print(df)

                                                name rating      genre  year  \
0                                        The Shining      R      Drama  1980
1                                    The Blue Lagoon      R  Adventure  1980
2     Star Wars: Episode V - The Empire Strikes Back     PG     Action  1980
3                                          Airplane!     PG     Comedy  1980
4                                         Caddyshack      R     Comedy  1980
...                                              ...    ...        ...   ...
7663                                    More to Life    NaN      Drama  2020
7664                                     Dream Round    NaN     Comedy  2020
7665                                   Saving Mbango    NaN      Drama  2020
7666                                    It's Just Us    NaN      Drama  2020
7667                                       Tee em el    NaN     Horror  2020

                              released  score      votes         director  \
0        June 13, 1980 (United States)    8.4   927000.0  Stanley Kubrick
1         July 2, 1980 (United States)    5.8    65000.0   Randal Kleiser
2        June 20, 1980 (United States)    8.7  1200000.0   Irvin Kershner
3         July 2, 1980 (United States)    7.7   221000.0     Jim Abrahams
4        July 25, 1980 (United States)    7.3   108000.0     Harold Ramis
...                                ...    ...        ...              ...
7663  October 23, 2020 (United States)    3.1       18.0    Joseph Ebanks
7664  February 7, 2020 (United States)    4.7       36.0     Dusty Dukatz
7665         April 27, 2020 (Cameroon)    5.7       29.0     Nkanya Nkwai
7666   October 1, 2020 (United States)    NaN        NaN    James Randall
7667   August 19, 2020 (United States)    5.7        7.0     Pereko Mosia

                       writer              star         country      budget  \
0                Stephen King    Jack Nicholson  United Kingdom  19000000.0
1     Henry De Vere Stacpoole    Brooke Shields   United States   4500000.0
2              Leigh Brackett       Mark Hamill   United States  18000000.0
3                Jim Abrahams       Robert Hays   United States   3500000.0
4          Brian Doyle-Murray       Chevy Chase   United States   6000000.0
...                       ...               ...             ...         ...
7663            Joseph Ebanks      Shannon Bond   United States      7000.0
7664              Lisa Huston  Michael Saquella   United States         NaN
7665             Lynno Lovert      Onyama Laura   United States     58750.0
7666            James Randall     Christina Roz   United States     15000.0
7667             Pereko Mosia  Siyabonga Mabaso    South Africa         NaN

            gross                    company  runtime
0      46998772.0               Warner Bros.    146.0
1      58853106.0          Columbia Pictures    104.0
2     538375067.0                  Lucasfilm    124.0
3      83453539.0         Paramount Pictures     88.0
4      39846344.0             Orion Pictures     98.0
...           ...                        ...      ...
7663          NaN                        NaN     90.0
7664          NaN  Cactus Blue Entertainment     90.0
7665          NaN           Embi Productions      NaN
7666          NaN                        NaN    120.0
7667          NaN                PK 65 Films    102.0

[7668 rows x 15 columns]

In [4]:
df['profit']=df['gross']-df['budget']
df['roi'] = df['profit']/df['budget']

In [7]:
profitable_movie = df.loc[df['profit'].idxmax(), ['name','director','company','star','budget','profit']]
print(profitable_movie)

name                       Avatar
director            James Cameron
company     Twentieth Century Fox
star              Sam Worthington
budget                237000000.0
profit               2610246203.0
Name: 5445, dtype: object

In [10]:
roi_movie = df.loc[df['roi'].idxmax(), ['name','director','company','star','budget','roi']]
print(roi_movie)

name        Paranormal Activity
director              Oren Peli
company            Solana Films
star          Katie Featherston
budget                  15000.0
roi                12889.386667
Name: 5114, dtype: object

In [12]:
unique_genres = df['genre'].unique()
print(unique_genres)

['Drama' 'Adventure' 'Action' 'Comedy' 'Horror' 'Biography' 'Crime'
 'Fantasy' 'Family' 'Sci-Fi' 'Animation' 'Romance' 'Music' 'Western'
 'Thriller' 'History' 'Mystery' 'Sport' 'Musical']

In [13]:
hghtly_watched_genre = df['genre'].value_counts().idxmax()
print(hghtly_watched_genre)

Comedy

In [23]:
table=df[['director','company']]
print(table)
p_roi=df.loc[df['roi'].idxmax(),['director','company']]
top_3_producers= df.nlargest(3, 'roi')[['director','company', 'roi']]

print(top_3_producers)

             director                    company
0     Stanley Kubrick               Warner Bros.
1      Randal Kleiser          Columbia Pictures
2      Irvin Kershner                  Lucasfilm
3        Jim Abrahams         Paramount Pictures
4        Harold Ramis             Orion Pictures
...               ...                        ...
7663    Joseph Ebanks                        NaN
7664     Dusty Dukatz  Cactus Blue Entertainment
7665     Nkanya Nkwai           Embi Productions
7666    James Randall                        NaN
7667     Pereko Mosia                PK 65 Films

[7668 rows x 2 columns]
           director          company           roi
5114      Oren Peli     Solana Films  12889.386667
3459  Daniel Myrick      Haxan Films   4142.984983
6815   Travis Cluff  New Line Cinema    428.644100

In [28]:
actorcounts = pd.DataFrame(df['star'].value_counts())
most_movies_actor = actorcounts['count'].idxmax(), actorcounts['count'].max()
print(most_movies_actor)

('Nicolas Cage', 43)

In [48]:
actorcounts = pd.DataFrame(df['star'].value_counts())
most_movies_actor = actorcounts['count'].idxmax(), actorcounts['count'].max()
print(most_movies_actor)
movies_by_actor = df[df['star'] == max_movies_actor['star']]['name'].tolist()
print(movies_by_actor)

('Nicolas Cage', 43)
['Valley Girl', 'The Boy in Blue', 'Raising Arizona', "Vampire's Kiss", 'Wild at Heart', 'Fire Birds', 'Red Rock West', 'Amos & Andrew', 'It Could Happen to You', 'Trapped in Paradise', 'Leaving Las Vegas', 'Con Air', 'Snake Eyes', 'City of Angels', '8MM', 'Bringing Out the Dead', 'Gone in 60 Seconds', 'The Family Man', "Captain Corelli's Mandolin", 'Adaptation.', 'Windtalkers', 'Matchstick Men', 'National Treasure', 'Lord of War', 'The Weather Man', 'World Trade Center', 'The Wicker Man', 'Ghost Rider', 'Next', 'National Treasure: Book of Secrets', 'Bangkok Dangerous', 'Knowing', 'Bad Lieutenant: Port of Call New Orleans', "The Sorcerer's Apprentice", 'Drive Angry', 'Ghost Rider: Spirit of Vengeance', 'Season of the Witch', 'Trespass', 'Stolen', 'The Croods', 'Joe', 'Left Behind', 'Mandy']